<%- include("partials/header"); -%>

<div class="about-section">
<h1 style = "color : white">About Us</h1>
<h4 style = "margin-top : 20px; margin-bottom : 20px;">We provide a medium to write your ideas through blogs</h4>
<p>The best ideas can change who we are. This is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.</p>
</div>

<%- include("partials/footer"); -%>
