<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <div class="container container-fluid p-3 my-3 text-white">
      <h1 style = "color : #181D31; margin-bottom : 20px;"> Lavish Sinhmar </h1>
      <p> Email - lavishsinhmar01@gmail.com</p>
      <p> Ph.no - 9464354899 </p>
    </div>

<%- include("partials/footer"); -%>
