<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <div class="container container-fluid p-3 my-3 text-white">
      <h1 style = "color : red; margin-bottom : 20px;"> Nikhil Agarwal</h1>
      <p> Email - agarwalnikhil9@gmail.com</p>
      <p> Ph.no - 9058755817 </p>
    </div>

<%- include("partials/footer"); -%>
